.linksGrid {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  gap: 15px;
  justify-content: center;
  width: 100%;

  .column {
    flex: 1;
    min-width: 90px;

    h3 {
      margin-bottom: 10px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 5px 0;
      }
    }

    a {
      text-decoration: none;
      color: #969696;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}