$tiny-little-eyes: #33301F;
$off-the-record: #545140;
$hira-ruri: #B0B0B2;
$white-wedding: #DFDFE1;
$at-the-bottom-of-the-sea: #373C40;
$aqua-forest: #69AE6E;
$fire-bush: #E69D36;
$pomegranate: #F44336;
$spun-pearl: #ACAAB3;
$fjord: #455874;

$font-color: $white-wedding;
$primary: $spun-pearl;
$default: $off-the-record;
$info: $fjord;
$heading: $tiny-little-eyes;
$background: $hira-ruri;
$success: $aqua-forest;
$warning: $fire-bush;
$error: $pomegranate;