@use './variables';
@use './mixins';
@use './typography';
@use './utility';

:root {
  --font-color: #{variables.$font-color};
  --primary-color: #{variables.$primary};
  --default-color: #{variables.$default};
  --info-color: #{variables.$info};
  --heading-color: #{variables.$heading};
  --background-color: #{variables.$background};
}

body {
  background-color: var(--background-color);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: typography.$font-family;
  color: var(--font-color);
}
